

:root {

  --color-modifier: 0;

  --stop-color-1-h: calc(220 - var(--color-modifier));
  --stop-color-2-h: calc(220 - var(--color-modifier));
  --stop-color-3-h: calc(255 - var(--color-modifier));
  --stop-color-4-h: calc(257 - var(--color-modifier));

  --stop-color-1: hsla(var(--stop-color-1-h),56%,35%,1); /*#27498B;*/
  --stop-color-2: hsla(var(--stop-color-2-h),56%,22%,1); /*#182D56;*/
  --stop-color-3: hsla(var(--stop-color-3-h),70%,9%,1); /*#0F0727;*/
  --stop-color-4: hsla(var(--stop-color-4-h),78%,4%,1); /*#060210;*/
  --stop-color-5: #ffffff;
  --stop-color-6: #000000;

  --stop-opacity-1: 0.2;
  --stop-opacity-2: 0.16;
  --stop-opacity-3: 0.02;
  --stop-opacity-4: 0;

  /*--bg-color-h: calc(220 - var(--color-modifier));*/
  --bg-color:var(--stop-color-2); /*hsla(var(--bg-color-h),56%,10%,1);*/
}

.depressed,.pressed {
  transition: all .1s;
}

.depressed .gradient-a stop:nth-child(1) {
  stop-color: var(--stop-color-1);
}

.depressed .gradient-a stop:nth-child(2) {
  stop-color: var(--stop-color-2);
}

.depressed .gradient-a stop:nth-child(3) {
  stop-color: var(--stop-color-3);
}

.depressed .gradient-a stop:nth-child(4) {
  stop-color: var(--stop-color-4);
}

.depressed .gradient-d stop:nth-child(1) {
  stop-color: var(--stop-color-5);
  stop-opacity: var(--stop-opacity-1);
}

.depressed .gradient-d stop:nth-child(2) {
  stop-color: var(--stop-color-5);
  stop-opacity: var(--stop-opacity-2);
}

.depressed .gradient-d stop:nth-child(3) {
  stop-color: var(--stop-color-5);
  stop-opacity: var(--stop-opacity-3);
}

.depressed .gradient-d stop:nth-child(4) {
  stop-color: var(--stop-color-5);
  stop-opacity: var(--stop-opacity-4);
}

.depressed .gradient-b stop:nth-child(1) {
  stop-color: var(--stop-color-5);
}

.depressed .gradient-b stop:nth-child(2) {
  stop-color: var(--stop-color-5);
  stop-opacity: var(--stop-opacity-4);
}





.pressed .gradient-a stop:nth-child(1) {
  stop-color: var(--stop-color-4);
}

.pressed .gradient-a stop:nth-child(2) {
  stop-color: var(--stop-color-3);
}

.pressed .gradient-a stop:nth-child(3) {
  stop-color: var(--stop-color-2);
}

.pressed .gradient-a stop:nth-child(4) {
  stop-color: var(--stop-color-1);
}

.pressed .gradient-d stop:nth-child(1) {
  stop-color: var(--stop-color-6);
  stop-opacity: var(--stop-opacity-4);
}

.pressed .gradient-d stop:nth-child(2) {
  stop-color: var(--stop-color-6);
  stop-opacity: var(--stop-opacity-3);
}

.pressed .gradient-d stop:nth-child(3) {
  stop-color: var(--stop-color-6);
  stop-opacity: var(--stop-opacity-2);
}

.pressed .gradient-d stop:nth-child(4) {
  stop-color: var(--stop-color-6);
  stop-opacity: var(--stop-opacity-1);
}

.pressed .gradient-b stop:nth-child(1) {
  stop-color: var(--stop-color-6);
  stop-opacity: var(--stop-opacity-4);
}

.pressed .gradient-b stop:nth-child(2) {
  stop-color: var(--stop-color-6);
  stop-opacity: 1;
}