:root {

  --color-modifier-h: 0;
  --color-modifier-s: 0;

  --stop-color-1-h: 0; /* calc(220 - var(--color-modifier-h)); */
  --stop-color-2-h: 0; /* calc(220 - var(--color-modifier-h)); */
  --stop-color-3-h: 0; /* calc(255 - var(--color-modifier-h)); */
  --stop-color-4-h: 0; /* calc(257 - var(--color-modifier-h)); */

  --stop-color-1-s: 0%; /* calc(56% - var(--color-modifier-s) * 1%); */
  --stop-color-2-s: 0%; /* calc(56% - var(--color-modifier-s) * 1%); */
  --stop-color-3-s: 0%; /* calc(70% - var(--color-modifier-s) * 1%); */
  --stop-color-4-s: 0%; /* calc(78% - var(--color-modifier-s) * 1%); */

  --stop-color-1: hsla(var(--stop-color-1-h),var(--stop-color-1-s),35%,1); /*#27498B;*/
  --stop-color-2: hsla(var(--stop-color-2-h),var(--stop-color-2-s),22%,1); /*#182D56;*/
  --stop-color-3: hsla(var(--stop-color-3-h),var(--stop-color-3-s),9%,1); /*#0F0727;*/
  --stop-color-4: hsla(var(--stop-color-4-h),var(--stop-color-4-s),4%,1); /*#060210;*/

  --stop-opacity-1: 0.2;
  --stop-opacity-2: 0.16;
  --stop-opacity-3: 0.02;
  --stop-opacity-4: 0;

  --bg-color:var(--stop-color-2); /*hsla(var(--bg-color-h),56%,10%,1);*/

  --popper-size:3.125%; /* 32 x 32 */
  --popper-size:calc(6.25% - 1.88px); /* 16 x 16 */

  --size-w:90dvh;
  --size-mw:90vw;
  --size-h:90dvh;
  --size-mh:90vw;

  --font-size:12px;

  --countdown-content: "3";
}

@font-face {
    font-family: 'Red Hat Mono';
    src: url('RedHatMono-VariableFont_wght.ttf') format('truetype');
}

html{ height:100%; }
body {
    background-color:var(--stop-color-1); /*rgba(0,0,0,1);*/
    background-image: linear-gradient(135deg, var(--stop-color-1) 0%, var(--stop-color-3) 100%);
    background-size:100%;
    background-attachment: fixed;
    /*background-image: repeating-linear-gradient(-35deg, rgba(13,13,13,1), rgba(100,100,100,1));*/
    font-size:var(--font-size);
    color:white;
    min-height: 100%;
    /*display:grid;
    place-items: center;*/
    padding:0;
    margin:0;

    display: grid;
    grid-template-columns: auto 30%;
    grid-template-rows: 1fr;
    place-items: center;
    gap:1em;

    font-family: 'Red Hat Mono', monospace;
    font-weight: 300;
}
body.square {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
body.stacked {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    margin-top:10%;
}

label {
  font-weight: 100;
  font-size: .8em;
  margin-top: 3.6em;
  margin-bottom: -.5em;
  display: block;
}

main {
  /*overscroll-behavior: none;
  touch-action: none;*/
}
main {
  background-color:var(--bg-color);
  display: flex;
  flex-wrap: wrap;
  gap:2px;
  line-height:0;
  position: relative;
  /*max-width: 900px;*/
  margin: auto;
  padding:calc(var(--size-w) * .02); /*1vw;*/
  box-shadow: 0 calc(var(--size-w) * .02) calc(var(--size-w) * .02) 0vw rgba(0,0,0,.15), 0 calc(var(--size-w) * .002) calc(var(--size-w) * .008) 0vw rgba(0,0,0,.35); /*0 1vw 1vw 0vw rgba(0,0,0,.15), 0 .1vw .4vw 0vw rgba(0,0,0,.35)*/
  border-radius: calc(var(--size-w) * .016); /* .8vw;*/

  width:var(--size-w);
  height:var(--size-h);
  max-width:var(--size-mw);
  max-height:var(--size-mh);

  cursor: grab;
}
main.active {
  cursor: grabbing;
}
main.correct {
  /*box-shadow: 0 1vw 1vw 0vw rgba(0,0,0,.15), 0 .1vw .4vw 0vw rgba(0,0,0,.35), 0 0 2vw white;*/
  animation:correctPulse 1s infinite;
  /*border:10px solid var(--stop-color-1);*/
}
main.countdown::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:1em;
  height:1em;
  line-height: 1em;
  font-size:3.6em;
  text-align: center;
  background-color: black;
  color: white;
  content:var(--countdown-content);
  border-radius: 50%;
  padding:6%;
}
main.countdown.three::after {
  content:"3";
}
main.countdown.two::after {
  content:"2";
}
main.countdown.one::after {
  content:"1";
}

@keyframes correctPulse {
  0% {
    filter:brightness(1.1);
    -webkit-filter:brightness(1.1);
  }
  50% {
    filter:brightness(1.2);
    -webkit-filter:brightness(1.2);
  }
  100% {
    filter:brightness(1.1);
    -webkit-filter:brightness(1.1);
  }
}




#menu {
  margin-right: auto;
  padding-top:10%;
  padding-bottom:10%;
  width: 80%;
}
#menu.stacked {
  margin-left:10%;
  margin-right:10%;
}
#menu.square {
  position: absolute;
  bottom: 0;
  right: 0;
  top:0;
  left:0;
  padding:1em;
  display: grid;
  place-content: center;
  backdrop-filter:blur(4px) saturate(.9); /* brightness(1.1) saturate(1.1); */
  -webkit-backdrop-filter:blur(4px) saturate(.9); /* brightness(1.1) saturate(1.1); */
  background-image: linear-gradient(180deg, rgba(255,255,255,.1),rgba(255,255,255,0));
  transition:all .2s, transform 0s;
  width:inherit;

  /*text-shadow: 0 0 4em black,0 0 2em black;*/
}
#menu.square.queued {
  opacity:0;
  transform:scale(0);
  transition:all .2s, transform .2s .2s;
  filter:blur(4px) brightness(1.1) saturate(1.1);
  -webkit-filter:blur(4px) brightness(1.1) saturate(1.1);
}

#menutrigger {
  display: none;
  position: fixed;
  right: 0%;
  top:0%;
  background-color: var(--stop-color-1);
  width: 10%;
  padding-bottom:10%;
  /*clip-path: polygon(0% 0%, 100% 0%, 100% 100%);*/

  transform-origin: top right;
  transform:rotate(-45deg) translate(50%, -50%);

  background-image: linear-gradient(105deg, rgba(255,255,255,.2), rgba(255,255,255,0));
  box-shadow: -.5em 0em 1em -.5em var(--stop-color-3), -.5em 0em 1em -.25em var(--stop-color-3);

  cursor:grab;
}
#menutrigger:active {
  cursor:grabbing;
}
#menu.square + #menutrigger {
  display: block;
}
#menutrigger > * {
  position: absolute;
  left:50%;
  top:50%;
  margin: 0;

  transform-origin: center;
  transform:translate(-90%, 0%) rotate(45deg);

  opacity: .8;

  /*color:var(--stop-opacity-2);
  text-shadow: 0 2px 2px var(--stop-color-3);*/
}
#menutrigger .icon {
  max-width:40%;
  max-height:40%;
  margin-right: 0;
}

#menu label {
  opacity: .6;
}

#menu textarea {
  background-color: var(--stop-color-1);
  box-shadow: inset 0 .5em 1em -.5em var(--stop-color-3);
  color:white;
  border:none;
  outline:none;
  font-size:.6em;
  padding: .5em;
  font-family: 'Red Hat Mono', monospace;
  font-weight: 200;
  width:100%;
  max-width: calc(32ch);
  border-radius: .5em;
}
#menu textarea::selection {
  background-color: var(--stop-color-3);
  color:var(--stop-color-1);
}
#menu textarea::-moz-selection {
  background-color: var(--stop-color-3);
  color:var(--stop-color-1);
}

#menu #saveload_copy {
  margin-top: 0em;
  cursor: grab;
}
#menu #saveload_copy:active {
  cursor: grabbing;
}

#menu #info {
    font-size: .6em;
    /*opacity: .6;*/
    margin-top:4em;
    color: rgba(255,255,255,.6);
    /*text-shadow: 0 -1px 1px rgba(75,75,75,.25);*/
}

#menu #info p + p:not(#madein) {
    margin-top:-1em;
}

#menu #model,#menu #serial {
}

#menu #madein {
    text-transform: uppercase;
}




.popper {
  transition:filter 1s,-webkit-filter 1s;
}

.popper.capped {

}
.popper.capped::after {
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 30%;
  background-color:var(--stop-color-2);
  content:" ";
  border-radius: 50%;
}
.popper.capped.depressed::after {
  background-color: var(--stop-color-2);
}

.popper.correct {
  animation:correctPulse 1s infinite;
}

.popper.black {
  /*box-shadow: inset 0 0 20px 0px black;*/
}
.popper.capped.black::after {
  background-color:black;
}

.popper.white {
  /*box-shadow: inset 0 0 10px rgba(255,255,255,.5);*/
}
.popper.capped.white::after {
  background-color:white;
}

.popper.highlighted {
  /*box-shadow: inset 0 0 10px rgba(255,255,255,.5);*/
  filter:brightness(1.6);
  -webkit-filter:brightness(1.6);
}

.popper.pressed {
  position:relative; 
  width:var(--popper-size);
  padding-bottom:var(--popper-size);
  border-radius:50%; 
  background: linear-gradient(132.995deg, var(--stop-color-4) 8%, var(--stop-color-3) 25%, var(--stop-color-2) 56%, var(--stop-color-1) 82%); /*linear-gradient(132.995deg, #060210 8%, #0F0727 25%, #182D56 56%, #27498B 82%);*/
}

.popper.depressed {
  position:relative; 
  width:var(--popper-size); 
  padding-bottom:var(--popper-size);
  border-radius:50%; 
  background: linear-gradient(132.995deg, var(--stop-color-1) 18%, var(--stop-color-2) 44%, var(--stop-color-3) 75%, var(--stop-color-4) 92%); /*linear-gradient(132.995deg, #27498B 18%, #182D56 44%, #0F0727 75%, #060210 92%);*/
  /*box-shadow: inset 0 0 1px var(--stop-color-3);*/
}

.popper.pressed > * {
  position:absolute; 
  top:2.5%; 
  left:2.5%; 
  width:95%; 
  height:95%; 
  border-radius:50%; 
  background: linear-gradient(132.995deg, rgba(0, 0, 0, 0%) 8%, rgba(0, 0, 0, 2%) 25%, rgba(0, 0, 0, 16%) 56%, rgba(0, 0, 0, 20%) 82%); 
  mask: radial-gradient(circle, rgba(0,0,0,0) 54%, rgba(0,0,0,1) 60%);
  -webkit-mask: radial-gradient(circle, rgba(0,0,0,0) 54%, rgba(0,0,0,1) 60%); /* (50% / 66%) */
}

.popper.depressed > * {
  position:absolute; 
  top:2.5%; 
  left:2.5%; 
  width:95%; 
  height:95%; 
  border-radius:50%; 
  background: linear-gradient(132.995deg, rgba(255, 255, 255, 20%) 18%, rgba(255, 255, 255, 16%) 34%, rgba(255, 255, 255, 2%) 75%, rgba(255, 255, 255, 0%) 92%); 
  mask: radial-gradient(circle, rgba(0,0,0,1) 13%, rgba(0,0,0,0) 60%, rgba(0,0,0,.6) 80%);
  -webkit-mask: radial-gradient(circle, rgba(0,0,0,1) 13%, rgba(0,0,0,0) 60%, rgba(0,0,0,.6) 80%);
  box-shadow: inset 0 0 20px 0px black;
}




input#startgame[type=checkbox] {
    appearance: none;
    background-color: var(--stop-color-4); /*rgba(40,40,40,1);*/
    /*background-image: linear-gradient(180deg, rgba(0,0,0,.2), rgba(0,0,0,.5));*/
    position:relative;
    width:2.5em;
    height:1em;
    /*margin-left:auto;
    margin-right:auto;*/
    /*filter:saturate(0%));
    -webkit-filter:saturate(0%);*/
    margin:0;
    padding:0;
    border-radius: 0;
}
input#startgame[type=checkbox]::after {
    content:" ";
    background-color: var(--stop-color-2); /*rgba(30,30,30,1);*/
    background-image: linear-gradient(90deg, rgba(255,255,255,.2) 0%, rgba(255,255,255,.1) 50%, rgba(255,255,255,.2) 50%, rgba(255,255,255,.1) 100%);
    /*background-size: 20%;
    background-repeat: repeat-x;*/
    position:absolute;
    width:90%;
    height:100%;
    left:5%;
    top:0%;
    transform:translateY(-5px);
    border-bottom:4px solid var(--stop-color-3); /*rgba(20,20,20,1);*/
    transition:all .5s cubic-bezier(0,1.67,1,1.67);
    /*filter:saturate(0%);
    -webkit-filter:saturate(0%);*/
    opacity:1;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;

    /*clip-path: polygon(2% 100%,0% 10%,50% 10%,98% 0%,100% 100%);*/
    clip-path: polygon(0% 100%, 0% 0%, 50% 4%, 100% 0%, 100% 100%);
}
input#startgame[type=checkbox]:checked {
    background-color: var(--stop-color-3);
    /*background-image: none;*/
    box-shadow: 0 0 10px var(--stop-color-1);
    animation: startGamePulse .5s infinite;
    filter:none;
    -webkit-filter:none;
}
input#startgame[type=checkbox]:checked::after {
    transform:translateY(-3px);
    border-bottom-width:2px;
    background-color: var(--stop-color-1);
    border-bottom-color: var(--stop-color-2);
    filter:none;
    -webkit-filter:none;

    /*clip-path: polygon(0% 100%,2% 0%,50% 10%,100% 10%,98% 100%);*/
}
input#startgame[type=checkbox] {
  cursor:grab;
}
input#startgame[type=checkbox]:active,input#startgame[type=checkbox]:active::after {
  cursor: grabbing;
}

@keyframes startGamePulse {
  0% {
    box-shadow: 0 0 10px var(--stop-color-2);
  }
  50% {
    box-shadow: 0 0 20px var(--stop-color-1);
  }
  100% {
    box-shadow: 0 0 10px var(--stop-color-2);
  }
}



#time {
  display: block;
  margin-top:-.5em;
}
#time + p {
  margin-top: -.5em;
}

#invert, #clear, #reset {
  cursor: grab;
  display: flex;
  align-items: middle;
  gap: 0;
}
#invert:active, #clear:active, #reset:active {
  cursor: grabbing;
}

.icon {
  max-width:.75em;
  vertical-align: middle;
  margin-right: .75em;
}